<!--<div class="footer">
    <p jhiTranslate="footer">This is your footer</p>
</div>-->
  <!-- <span class="footer">
    Created with ♥ by <b><a href="https://dipass.io" target="_blank">Dipassio</a></b> 2021
  </span>
  <div class="socials">
    <a href="#" target="_blank" class="fa fa-github"></a>
    <a href="#" target="_blank" class="fa fa-facebook"></a>
    <a href="#" target="_blank" class="fa fa-twitter"></a>
    <a href="#" target="_blank" class="fa fa-linkedin"></a></div>
    

    <p><fa-icon icon="facebook"></fa-icon></p>
    <p class="text-body-2 legal"><span class="privacy"><a href="/privacy-policy" target="_blank"
      class="privacy-policy">Privacy Policy</a> | <a href="/terms_of_service" target="_blank"
      class="terms-of-service">Terms of Service</a></span>
      <span class="copyright text-trunc">©
Dipassio SLU 2009-2021</span></p>-->

  <footer class="map-bg">
    <div class="container py-5 border-bottom">
      <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0"><img class="mb-3" src="../../../content/images/ai.svg" alt="" width="80">
          <ul class="list-unstyled text-muted">
            <li><a class="reset-anchor text-small" href="mailto:hello@dipass.io">hello@dipass.io</a></li>
            <li><a class="reset-anchor text-small" href="tel:+34675943865">+34 675 943 965</a></li>
          </ul>
          <ul class="list-inline text-muted">
            <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h4>About us</h4>
          <ul class="list-unstyled text-muted mb-0">
            <li class="mb-1"><a class="text-small reset-anchor" href="#">Support center</a></li>
            <li class="mb-1"><a class="text-small reset-anchor" href="#">Customer support</a></li>
            <li class="mb-1"><a class="text-small reset-anchor" href="#">About us</a></li>
            <li class="mb-1"><a class="text-small reset-anchor" href="#">copyright</a></li>
            <li class="mb-1"><a class="text-small reset-anchor" href="#">popular campaign</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h4>Our information</h4>
          <ul class="list-unstyled text-muted mb-0">
            <li class="mb-1"><a class="text-small reset-anchor" href="#">Support center</a></li>
            <li class="mb-1"><a class="text-small reset-anchor" href="#">Customer support</a></li>
            <li class="mb-1"><a class="text-small reset-anchor" href="#">About us</a></li>
            <li class="mb-1"><a class="text-small reset-anchor" href="#">copyright</a></li>
            <li class="mb-1"><a class="text-small reset-anchor" href="#">popular campaign</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h4>Policy</h4>
          <ul class="list-unstyled text-muted mb-0">
            <li class="mb-1"><a class="text-small reset-anchor" href="#">Support center</a></li>
            <li class="mb-1"><a class="text-small reset-anchor" href="#">Customer support</a></li>
            <li class="mb-1"><a class="text-small reset-anchor" href="#">About us</a></li>
            <li class="mb-1"><a class="text-small reset-anchor" href="#">copyright</a></li>
            <li class="mb-1"><a class="text-small reset-anchor" href="#">popular campaign</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container py-4">           
      <div class="row text-center">
        <div class="col-lg-6 p-lg-0 text-lg-left">
          <p class="text-muted text-small mb-0">© 2020 Your company, All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 p-lg-0 text-lg-right">
          <p class="text-muted text-small mb-0">Template designed by <a class="text-primary reset-anchor" href="https://bootstraptemple.com/p/corporate">Bootstrap Temple</a></p>
        </div>
      </div>