<!--<div class="footer">
    <p jhiTranslate="footer">This is your footer</p>
</div>-->
<span class="footer">
    Created with ♥ by <b><a href="https://dipass.io" target="_blank">Dipassio</a></b> 2021
  </span>
  <div class="socials">
    <a href="#" target="_blank" class="fa fa-github"></a>
    <a href="#" target="_blank" class="fa fa-facebook"></a>
    <a href="#" target="_blank" class="fa fa-twitter"></a>
    <a href="#" target="_blank" class="fa fa-linkedin"></a></div>
    

    <p><fa-icon icon="facebook"></fa-icon></p>
    <p class="text-body-2 legal"><span class="privacy"><a href="/privacy-policy" target="_blank"
      class="privacy-policy">Privacy Policy</a> | <a href="/terms_of_service" target="_blank"
      class="terms-of-service">Terms of Service</a></span>
      <span class="copyright text-trunc">©
  <!-- -->Dipassio SLU 2009-2021</span></p>
